<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>yelp address</th>
    </tr>
  </thead>
  <tbody>
    {{#bizzes}}
      <tr>
        <td>{{companyName}}</td>
        <td>{{href}}</td>
      </tr>
    {{/bizzes}}
  </tbody>
</table>
