<td>
  <div class="view">
    <label>{{username}}</label>
    <a class="destroy"></a>
  </div>
  <input class="edit" name="username" value="{{username}}">
</td>

<td><input class="{{id}}" name="email" value="{{email}}"></td>

<td><input class="{{id}}" name="website" value="{{website}}"></td>

<td><input class="{{id}}" name="location" value="{{location}}"></td>

<td><button class="btn create" type="submit">Create</button></td>
