<h1>{{username}}</h1>

<p><b>Name:</b> {{name}}</p>

<p><b>Company:</b> {{company}}</p>

<p><b>Phone:</b> {{phone}}</p>

<p><b>Website:</b> {{website}}</p>

<p><b>Location:</b><br /> <span id="location">{{location}}</span></p>

<p><b>About:</b><br />{{about}}</p>

