<h2>Profile</h2>
<p>Username: {{username}}</p>
<form method="post" action="#">
  <label>Name</label>
  <input class="span3" name="name" value="{{name}}">

  <label>Company</label>
  <input class="span3" name="company" value="{{company}}">

  <label>Email</label>
  <input class="span3" name="email" value="{{email}}">

  <label>Website</label>
  <input class="span3" name="website" value="{{website}}">

  <label>Location</label>
  <textarea class="span3" name="location">{{location}}</textarea>

  <label>Phone</label>
  <input class="span3" name="phone" value="{{phone}}">

  <label>About</label>
  <textarea class="span3" name="about">{{about}}</textarea>

  <button class="btn" type="submit">Save</button>
</form>
