{{#header}}
<thead>
    <tr>
      <th>Username/Company</th>
      <th>Name</th>
      <th>Email</th>
      <th>Website</th>
      <th>Location</th>
      <th>Phone</th>
      <th>About</th>
      <th>Action</th>
    </tr>
  </thead>
{{/header}}
    <form method="post" action="#">
      <td><input class="span3" name="username" value="{{username}}"></td>

      <td><input class="span3" name="name" value="{{name}}"></td>

      <td><input class="span3" name="email" value="{{email}}"></td>

      <td><input class="span3" name="website" value="{{website}}"></td>

      <td><textarea class="span3" name="about">{{location}}</textarea></td>

      <td><input class="span3" name="phone" value="{{phone}}"></td>

      <td><textarea class="span3" name="about">{{about}}</textarea></td>

      <td><button class="btn" type="submit">Save</button></td>
  </form>
