<div class="modal-header clearfix">
  <a class="close" data-dismiss="modal">x</a>
</div>
<div class="modal-body">
  <form class="form-horizontal" action="#">
   <div class="control-group">
      <label class="control-label" for="input00">Create Wish</label>
      <div class="controls">
        <textarea class="span4" id="input00" name="body"></textarea>
      </div>
    </div>


   <div class="control-group">
      <label class="control-label" for="input01">Postal Code</label>
      <div class="controls">
        <input type="text" class="span3" id="input01" name="postal_code">
      </div>
    </div>

{{!   <div class="control-group">
      <label class="control-label" for="input02">How soon to buy</label>
      <div class="controls">
        <select class="span3" id="input02" name="urgence">
          <option value=""> -- Select Level of Urgence --</option>
          <option value="kick_tire">Kicking Tire</option>
          <option value="need_now">Need Now</option>
        </select>
      </div>
    </div>
}}
  <button class="btn" type="submit" disabled="true">Create Wish</button>
  </form>
</div>
