<h2>Get started</h2>
<form method="post" action="#">
  
  <label for="body">Your Request</label>
  <textarea id="body" class="span6" name="body" placeholder="ie. I need a car mechanic and any extra details that would help"></textarea>
  <label>Twitter Username</label>
  <input type="text" class="span3" name="username">

  <label>General Location or Zip Code</label>
  <input type="text" class="span3" name="location">

  <button class="btn btn-large btn-success" type="submit" >Submit Your Request</button>
</form>

