<form method="post" action="#">

  <h2>Create Your Wish</h2>
  <textarea class="span4" name="body" placeholder="ie. I need a car mechanic. Details: My right driverside windhsield will not go up. My car is a 2002 Ford Explorer. What is your typical price and when are you available?"></textarea>

  <label>Email or Twitter Username</label>
  <input type="text" class="span3" name="username">

  <label>General Location or Zip Code</label>
  <input type="text" class="span3" name="location">

  <button class="btn btn-large btn-info" type="submit" >Submit Your Wish</button>
</form>

