<td>
  <div class="view">
    <label>{{username}}</label>
    <a class="destroy"></a>
  </div>
  <input class="edit" name="username" value="{{username}}">
</td>

<td>
  <label>{{email}}</label>
  <input class="edit" name="email" value="{{email}}">
</td>

<td>
  <label>{{website}}</label>
  <input class="edit" name="website" value="{{website}}">
</td>

<td>
  <label>{{location}}</label>
  <input class="edit" name="location" value="{{location}}">
</td>

