<div class="modal-header clearfix">
  <a class="close" data-dismiss="modal">x</a>
</div>
<div class="modal-body">
  <form class="form-horizontal" action="#">
    <textarea class="span4" id="textarea-modal" name="body"></textarea>


{{!   <div class="control-group">
      <label class="control-label" for="input02">How soon to buy</label>
      <div class="controls">
        <select class="span3" id="input02" name="urgence">
          <option value=""> -- Select Level of Urgence --</option>
          <option value="kick_tire">Kicking Tire</option>
          <option value="need_now">Need Now</option>
        </select>
      </div>
    </div>
}}
  <button class="btn" type="submit">Save</button>
  </form>
</div>
