<div class="instructions">
  <h2>How this page works</h2>      
  <p>Shown below are answers to your request. You can respond to any          
     company you are interested in by clicking on the reply.      
  </p>
</div>

<div class="you">
  <div class="bubble-green bubble-header">                
    <blockquote>LG Esteem from Metro PCS, broken screen. The lowest i've found 
      has been $85, also try finding where they won't erase the stuff on my 
      phone. thanks!
    </blockquote>
  </div>
</div>

<h2>Contacted</h2>
<ul>
  <li>My Cell Phone Repair</li>
  <li>U Break I Fix</li>
  <li>Cell Phone Repair Shack</li>
  <li>Celluland</li>
  <li>1 Repair Center</li>
</ul>



<div class="chat-columns row">
  <div class="span6 col-1">
    <div class="chat-composite unread">
      <ul class="messages scrollable">
        <li>
          <div class="msg">
            <b class="author"><a href="/profile/u-break-i-fix" class="profile-link">U Break I Fix</a>:</b>
              <blockquote>Yes, we can take care of your Esteem's screen. By 
                repairing the screen you memory will not be erased. We 
                typically charge 119.99. If you have a better price. Please 
                bring it down and we might be able to work something out. 
                where did you get the 85 dollar price quote from?<br><br>
                Thank you 
              </blockquote>
              <ul class="metadata">
                <li class="sent">Sep 20</li>
              </ul>
          </div>
        </li>
        <li class="colored">
          <div class="msg">  
            <b class="author">Me:</b>

            <blockquote>
I got that price from Phone Geeks Miami , they said they would come to my house and everything. where are you guys located so i can see if it could be cheaper? 
</blockquote>
<ul class="metadata">
  <li class="sent">Sep 20</li>
</ul>

</div></li><li><div class="msg">  <b class="author"><a href="/profile/u-break-i-fix" class="profile-link">U Break I Fix</a>:</b>

<blockquote>
Sure we would honor that price as long as you have some proof of it on a piece of paper. <br>We are located at:<br>1800 NW 122nd Terrace Pembroke Pines, FL 33028<br>which is 8.1 miles away from your zip of&nbsp;33029<br><br>But we would not come by your house to pick it up.<br>Thanks! 
</blockquote>
<ul class="metadata">
  <li class="sent">Sep 21</li>
</ul>

</div></li><li class="colored"><div class="msg">  <b class="author">Me:</b>

<blockquote>
what do you mean you guys would honor that price as long as i have proof of it on a piece of paper? and yeah i went there, to that exact location last week and they told me 150 dollars!<br> 
</blockquote>
<ul class="metadata">
  <li class="sent">Sep 22</li>
</ul>

</div></li><li class="msg-unread"><div class="msg">  <b class="author"><a href="/profile/u-break-i-fix" class="profile-link">U Break I Fix</a>:</b>

<blockquote>
There has been some confusion and we apologize.&nbsp;Could you call us at our Pembroke Pines location so we can straighten this out:&nbsp;954-435-1540. Sorry for the mess up. 
</blockquote>
<ul class="metadata">
  <li class="sent">Sep 24</li>
</ul>

</div></li></ul><a href="#" class="btn reply">Reply</a></div><div class="chat-composite"><ul class="messages scrollable"><li><div class="msg">  <b class="author"><a href="/profile/cell-phone-repair-shack" class="profile-link">Cell Phone Repair Shack</a>:</b>

<blockquote>
CONTACTED TWICE WAITING FOR A REPLY 
</blockquote>
<ul class="metadata">
  <li class="sent">Sep 20</li>
</ul>

</div></li></ul><a href="#" class="btn reply">Reply</a></div><div class="chat-composite"><ul class="messages scrollable"><li><div class="msg">  <b class="author"><a href="/profile/1-repair-center" class="profile-link">1 Repair Center</a>:</b>

<blockquote>
CONTACTED WAITING FOR A REPLY 
</blockquote>
<ul class="metadata">
  <li class="sent">Sep 20</li>
</ul>

</div></li></ul><a href="#" class="btn reply">Reply</a></div></div><div class="span6 col-2"><div class="chat-composite"><ul class="messages scrollable"><li><div class="msg">  <b class="author"><a href="/profile/my-cell-phone-repair" class="profile-link">My Cell Phone Repair</a>:</b>

<blockquote>
Yes we can fix your LG Esteem without having impact on your memory. The cost is 99.99 and we would have to have it ordered. Is this ok? 
</blockquote>
<ul class="metadata">
  <li class="sent">Sep 20</li>
</ul>

</div></li><li class="colored"><div class="msg">  <b class="author">Me:</b>

<blockquote>
Where are you guys located? and if i do get it fixed with you guys, how does it all work? 
</blockquote>
<ul class="metadata">
  <li class="sent">Sep 20</li>
</ul>

</div></li><li><div class="msg">  <b class="author"><a href="/profile/my-cell-phone-repair" class="profile-link">My Cell Phone Repair</a>:</b>

<blockquote>
<div>We are located at:</div><div>2855 S University Dr</div><div>Davie, FL 33328</div><div><br></div><div>Which is 17.5 miles away from your zip of 33029.</div><div><br></div><div>But I mistakenly looked up the wrong phone for you. Your LG Esteem is newer, so it would cost 149.99. The main part of your phone itself would cost me at least $50. The part would be in anywhere from 3 to 7 days depending on the supplier with the best price. Hope this helps. Thanks</div> 
</blockquote>
<ul class="metadata">
  <li class="sent">Sep 21</li>
</ul>

</div></li></ul><a href="#" class="btn reply">Reply</a></div><div class="chat-composite"><ul class="messages scrollable"><li><div class="msg">  <b class="author"><a href="/profile/celluland" class="profile-link">Celluland</a>:</b>

<blockquote>
Contacted twice waiting for reply<br> 
</blockquote>
<ul class="metadata">
  <li class="sent">Sep 20</li>
</ul>

</div></li></ul><a href="#" class="btn reply">Reply</a></div></div></div></div>


