<div id="home">
  <div class="bubble">
  <h1>Hello. My name is Ruby. <br>Welcome to Rubyrate, your online personal assistant</h1>
  <div class="point-left"></div>
  </div>

  <div class="home-form"></div>

  <div id="content">
  <h2>How it works</h2>

  <h3>Its pretty simple. You need to find something and we have the tools to 
      help you find the right person for the job. Just simply put your wish in 
      the box below. The message is then sent to your local people that provide 
      that good or service. They will respond then you can converse with the merchants on that page.
  </h3>
  </div>
</div>
