<div id="home">
  <img id="banner" src="/img/banner.png"/>
  <div class="how-it-works">
    <h2>How it works</h2>
    <ul>
      <li class="odd">
        <b>1)</b> <span class="one">Enter a specific good or service that you are looking for.</span>
      </li>
      <li>
        <b>2)</b> <span class="two">This request is then sent out to local providers.</span>
      </li>
      <li class="odd">
        <b>3)</b> <span class="three">They will respond.</span>
      </li>
      <li>
        <b>4)</b> <span class="four">Converse with mutiple providers in easy format on our website.</span>
      </li>
      <li class="odd">
        <b>5)</b> <span class="five">Choose the right person for the job.</span>
      </li>

    </ul>
  </div>
  <div class="home-form">
    <h2>Get started</h2>
    <form method="post" action="#">
      
      <label for="body">Your Request</label>
      <textarea id="body" class="span6" name="body" placeholder="For example - I need a car mechanic because the driver side window will not go down"></textarea>

      <label>Email or Twitter username</label>
      <input type="text" class="span3" name="contact">

      <label>Username</label>
      <input type="text" class="span3" name="username">


      <label>General Location or Zip Code</label>
      <input type="text" class="span3" name="location">

      <button class="btn btn-large btn-info" type="submit" >Send</button>
    </form>
  </div>
</div>
