<div id="home">
  <img class="logo" src="/img/logo-large.png"/>
  
  <h1>Local business search with replies from real people</h1>
  <div id="content">



<div id="progress-bar">
  <ul id="steps">
    <li data-target="step_1">Enter Request</li>
    <li data-target="step_2">We email lots of businesses</li>
    <li data-target="step_3">Replies come in over a day or two</li>
    <li data-target="step_4">You reply from our easy message page</li>
  </ul>

  <ul class="numbers">
    <li><b>1</b></li>
    <li><b>2</b></li>
    <li><b>3</b></li>
    <li><b>4</b></li>
  </ul>
</div>


<div class="stepsContent">
  <div class="stepContent" id="step_1">
    <img src="/img/paper-plane.png" />
    <p>Start by entering your request and a location. Any extra details you 
       give will help make your search results better.</p>
    <p>
    <p>We also need either an email or a twitter handle that so we can contact you
       when your results are in. Your email will never be used for anything else. 
    </p>
  </div>
  <div class="stepContent" id="step_2">
    <p>We email businesses in your area with your request.</p>
  </div>
  <div class="stepContent" id="step_3">
    <p>When the bulk of your responses arrive, we will contact you.</p>
  </div>
  <div class="stepContent" id="step_4">
    <p>Our messaging page looks like the pic on the right. From there you can 
       safely/anonymously reply. 
    </p>
  </div>

</div>


<!--
    <h2>How it works</h2>
    <p>Its pretty simple. You need to find something and we have the tools to 
        help you find the right person for the job. Just simply put your wish in 
        the box below. The message is then sent to local businesses that provide 
        that good or service. When the businesses respond, you can converse with them on our page like you 
        are texting.
    </p>
    <p>First: Enter some details of what you are looking for.  
       (pic of down arrow to wish)</p>
    <p>Second: we email a bunch of businesses in your area with your wish.(pic of email)</p>
    <p>Third: When the replies come in, we send you to a page that looks like this
             All of the businesses that respond are shown on a page like this</p>
  </div>
  -->
  <div class="home-form"></div>
</div>
