<div id="banner">
  <div class="container">
    <img src="/img/logo-large.png"/>
    <h1>For property management companies, landlords, and tenants</h1>
  </div>
</div>
<div class="home">
  <div class="container">
    <div class="examples">
      <h2>Communicate with vendors</h2>
      <a class="btn btn-large btn-info startTracking">Get started</a>
    <!--
      <h2>How it works</h2>
        <ul>
          <li>
            Enter your request into the box and see examples below.
          </li>
          <li>
            Choose how time sensitive the emergency is
            i.e. I need someone to replace numerous missing shingles on 26 unit
            apartment complex.  Must be licensed and insured. You have 2 days 
            to find me vendors.
          </li>
          <li>
            We will contact all the companies that will solve your 
            request and send you the responses.
          </li>
        </ul>
    -->
    </div>
    <div class="home-form">
      <h2>Maintenance request tracking</h2>
       <a class="btn btn-large btn-info tracking">Get started</a>
      <!-- 
      <h2>Clock starts ticking as soon as you fill this out</h2>
      <form method="post" action="#">
        
        <label>Your Emergency</label>
        <textarea id="body" class="span6" name="body" placeholder="For example - I need a car mechanic because the driver side window will not go down"></textarea>

        <label>Email or Twitter username</label>
        <input type="text" class="span3" name="twitterOrEmail">

        <label>Username</label>
        <input type="text" class="span3" name="username">

        <label>Zip Code</label>
        <input type="text" class="span3" name="location">


        <label>When do you need this answered by</label>
        <select name="when">
          <option value=''>Please Select</option>
          <option value="1 hour">1 hour ( $20 ) </option>
          <option value="2 hours">2 hours ( $15 )</option>
          <option value="less than 5 hours">less than 5 hours ( $5 )</option>
          <option value="24 hours">24 hours ( Free )</option>
          <option value="48 hours">48 hours ( Free )</option>
        </select>
        <p style="margin-top: -9px; color: #fff; font-size: 10px;">*hours are Monday - Friday, 9-5 EST</p>
        <button class="btn btn-large btn-info" type="submit" >Start timer</button>
      </form>
      -->
    </div>
  </div> 
  <div class="more-examples">
    <h2>More Scenarios</h2>
      <ul class="span5">
        <li>
          <b>Storm Assessment Crew Needed</b><br/>
          Looking for more members preferably with
          their own vehicles for the NYC/NJ/CT area ASAP. Must contact us today.
          Must have knowledge of Cable TV Overhead System Plan. Must be licensed
          and insured
        </li>
        <li>
          <b>Electricians</b><br />
          I have 7 units that have blown outlets I need a licensed and insured
          electrician to fix this issue.
        </li>
      </ul>
    <ul class="span5">
      <li>
        <b>Tree Removal</b><br />
        We have a giant tree in the back of our complex that must be removed
        safely. Does anyone know of a tree removal company who can do this
        safely?
      </li>
      <li>
        <b>Heating and Plumbing</b><br />
        Need someone to help repair or replace a water boiler.
      </li>
    </ul>
  </div>
</div>
