<div id="instructions">
  <div class="bubble" style="margin-left: 133px">
    <blockquote>Hello. My name is Ruby. <br>Welcome to Rubyrate, your online personal assistant</blockquote>
    <div class="point-left"></div>
  </div>
  <div id="how-works">
    <h2>How this page works</h2>
    <p>Shown below are answers to your request. You can respond to any company you are interested in by 
      clicking on the reply.  Also please retweet us and tell your friends. 
      We are 100% free. You are also welcome to start a new wish if you have a new request.  
    </p>
  </div>
  <h2 class="replies">And your replies are...</h2>
  <div id="you-said">
    <div class="bubble right">
      <blockquote style="font-size: 18px">{{wish}}</blockquote>
    </div>
    <h2>You said...</h2>
  </div> 
</div>

