<div id="instructions">
<h1>Hello,</h1>
<p>Welcome to Ruby Rate, your online personal assistant. Shown below are 
answers to your request. You can respond to any company you are interested in by 
clicking on the reply.  Also please retweet us and tell your friends. 
We are 100% free. You are also welcome to start a new wish if you have a new request.</p>

<p>Thank you, <br/>Ruby</p>
</div>
