<div id="mock-homepage">
  <div class="wrapper">
    <div id="how-works">
      <h2>How this page works</h2>
      <p>Shown below are answers to your request. You can respond to any company you are interested in by 
        clicking on the reply.  Also please retweet us and tell your friends. 
        We are 100% free. You are also welcome to start a new wish if you have a new request.  
      </p>
    </div>
    <div class="message-wrapper">
      <div class="bubble header">
        <blockquote>Hello. My name is Ruby. Welcome to Rubyrate, your online personal assistant.</blockquote>
      </div>
      <img src="/img/ruby-head.png" class="avatar"/>
    </div>
    <div id="blue-guy">
      <div class="you"><span>You</span></div>
      <div class="bubble second">
        <blockquote>{{wish}}</blockquote>
      </div>
    </div> 
  </div>
  <h2 class="replies">Your replies</h2>
</div>

