{{#makeProfileLink}}
  <b><a href="/profile/{{authorSlug}}" class="profile-link">{{author}}</a>:</b>
{{/makeProfileLink}}
{{^makeProfileLink}}
  <b>{{author}}:</b>
{{/makeProfileLink}}

{{{body}}} 
<span class="sent">Sent: {{time}}</span>
