{{#makeProfileLink}}
  <b><a href="/profile/{{slug}}" class="profile-link">{{author}}</a>:</b>
{{/makeProfileLink}}
{{^makeProfileLink}}
  <b>{{author}}:</b>
{{/makeProfileLink}}

{{body}} 
<span>Sent: {{time}}</span>
