<form method='post' action='#'>
  <textarea name="body" id="textarea-modal"></textarea>
  <button class="btn btn-primary" type="submit" style="float: left">Send</button>
  <a class="btn" style="float: right" href="#">Close</a>
</form>
