<form method='post' action='#'>
  {{#sellerTpl}}
    <label>Company Name</label>
    <input name="username" id="username" style="margin-bottom: 30px"></input>
  {{/sellerTpl}}
  <textarea name="body" id="textarea-modal"></textarea>
  <button class="btn btn-primary {{large}}" type="submit">Send</button>
  {{!<a class="btn" style="float: right" href="#">Close</a>}}
</form>
