<form method='post' action='#'>
  <textarea name="body" class"messaging-textarea"></textarea>
  <button class="btn btn-primary" type="submit" disabled="true" style="float: left">Send</button>
  <button class="btn" style="float: right">Close</button>
</form>
