<div id="subjects-nav" class="span3">
  <h3>Topics</h3>
  <div id="nav" style="padding: 0">
    You have no wishes or replies yet
  </div>
</div>
<div id="conversations" class="span8">
  <div id="header">
  </div>
  <div id="body"><h2>Please click the link on the left to view your messages<h2></div>
</div>
