<div class="modal-header">
  <a class="close" data-dismiss="modal">x</a>
  <h3>Please Login or Signup</h3>
</div>
<div class="modal-body">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#" data-toggle="tab" data-target="#login">Login</a></li>
      <li><a href="#" data-toggle="tab" data-target="#new">Signup</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="login"></div>
      <div class="tab-pane" id="new"></div>
    </div>
  </div>
</div>

