{{^isHome}}{{/isHome}}
<li><a class="brand" href="/">Ruby Rate</a></li>
<li><a href="/wishes">Browse Past Searches</a></li>
{{#user}} 
{{!<li><a class="create-wish" href="#">Create Wish</a></li>}}
{{/user}} 
