{{^isHome}}
<li><a class="brand" href="/">Cribum</a></li>
{{/isHome}}
{{!<li><a href="/how-it-works">How it works</a></li>}}
{{!<li><a href="/emergencies">Browse Vendors Found</a></li>}}
{{#user}} 
{{!<li><a class="create-emergency" href="#">Create Emergency</a></li>}}
{{/user}} 
